@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../resources/views/**/*';

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2101 0.0318 264.6645);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2101 0.0318 264.6645);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2101 0.0318 264.6645);
    --primary: oklch(39.787% 0.06326 231.288);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.6546 0.1119 207.9244);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.967 0.0029 264.5419);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9491 0 0);
    --accent-foreground: oklch(0.2101 0.0318 264.6645);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.3144 0.0564 250.8917);
    --chart-1: oklch(0.594 0.0443 196.0233);
    --chart-2: oklch(0.7214 0.1337 49.9802);
    --chart-3: oklch(0.8721 0.0864 68.5474);
    --chart-4: oklch(0.6268 0 0);
    --chart-5: oklch(0.683 0 0);
    --sidebar: oklch(0.967 0.0029 264.5419);
    --sidebar-foreground: oklch(0.2101 0.0318 264.6645);
    --sidebar-primary: oklch(0.3979 0.0632 231.2552);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9389 0.0449 206.8022);
    --sidebar-accent-foreground: oklch(0.2101 0.0318 264.6645);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.3979 0.0632 231.2552);
    --font-sans: 'Figtree', ui-sans-serif, sans-serif, system-ui;
    --font-serif: Cardo, ui-serif, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0rem;
    --spacing: 0.25rem;
}

.dark {
    --background: hsl(180, 2%, 6%);
    --foreground: oklch(0.8109 0 0);
    --card: oklch(19.125% 0.00002 271.152);
    --card-foreground: oklab(81.093% 0 -0.00009);
    --popover: hsl(270, 3%, 7%);
    --popover-foreground: oklch(0.8109 0 0);
    --primary: oklch(0.3301 0.0424 234.3965);
    --primary-foreground: oklch(0.9079 0.0069 325.6333);
    --secondary: oklch(0.7649 0.1309 208.1312);
    --secondary-foreground: oklch(0.1156 0.0032 285.8849);
    --muted: oklch(0.252 0 0);
    --muted-foreground: oklch(0.6268 0 0);
    --accent: oklch(0.3211 0 0);
    --accent-foreground: oklch(0.8109 0 0);
    --destructive: oklch(0.594 0.0443 196.0233);
    --destructive-foreground: oklch(0.1797 0.0043 308.1928);
    --border: oklch(0.252 0 0);
    --input: oklch(0.252 0 0);
    --ring: oklch(0.3144 0.0564 250.8917);
    --chart-1: oklch(0.594 0.0443 196.0233);
    --chart-2: oklch(0.7214 0.1337 49.9802);
    --chart-3: oklch(0.8721 0.0864 68.5474);
    --chart-4: oklch(0.6268 0 0);
    --chart-5: oklch(0.683 0 0);
    --sidebar: hsl(240, 0%, 8%);
    --sidebar-foreground: oklch(81.093% 0.00009 271.152);

    --sidebar-primary: oklch(0.3301 0.0424 234.3965);
    --sidebar-primary-foreground: oklch(0.1797 0.0043 308.1928);
    --sidebar-accent: oklch(0.3211 0 0);
    --sidebar-accent-foreground: oklch(0.8109 0 0);
    --sidebar-border: oklch(0.252 0 0);
    --sidebar-ring: oklch(0.536 0.0488 231.193);
    --font-sans: 'Figtree', ui-sans-serif, sans-serif, system-ui;
    --font-serif: Cardo, ui-serif, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1.1rem;
    --shadow-x: 0px;
    --shadow-y: 1px;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl:
        0px 1px 4px 0px hsl(0 0% 0% / 0.05),
        0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
}

/* This targets the container of the badges */
.line-clamp-expandable {
    display: flex;
    flex-wrap: wrap;
    max-height: 63px; /* Adjust this to fit exactly 2 lines of badges */
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    cursor: pointer;
    @apply relative bottom-2;
}

.line-clamp-expandable:hover,
.line-clamp-expandable:focus,
.line-clamp-expandable:focus-within {
    max-height: 500px;
    overflow: visible;
}

/* Optional: remove focus ring if Filament adds one */
.line-clamp-expandable:focus {
    outline: none;
}

.campaign-name-entry .fi-icon {
    @apply mb-2 stroke-2;
}

.fi-ta-text-item .fi-icon {
    @apply mb-1;
}

.fi-body {
    background-color: var(--background);
    color: var(--foreground);
}

.fi-dropdown-header {
    @apply bg-primary/20 font-bold tracking-wider;
}

.fi-sidebar {
    background: var(--color-sidebar);
    color: var(--sidebar-foreground);
    @apply border-sidebar-border;
}

.fi-dropdown-panel {
    @apply bg-card;
}

.fi-input {
    @apply rounded-2xl bg-card;
}

.fi-input-wrp {
    @apply border-border bg-card;
}

.fi-ac-icon-btn-group {
    @apply !bg-background !text-secondary;
}

.fi-ac-icon-btn-group .fi-icon {
    @apply !bg-background !text-secondary;
}

.fi-ac-link-action .fi-icon {
    @apply !bg-none;
}

.fi-ac-grouped-action {
    @apply !bg-card;
}

.fi-color-primary .fi-icon {
    @apply bg-primary text-primary-foreground;
}

.fi- .fi-simple-main {
    @apply bg-background;
}

.fi-input-wrp-content-ctn {
    @apply rounded-2xl bg-card;
}
.fi-select-input {
    @apply rounded-2xl bg-card;
}
.fi-select-input-search-ctn {
    @apply bg-card;
}
td .fi-select-input {
    @apply overflow-visible rounded-2xl bg-background;
}

td {
    @apply rounded-b-2xl;
}

table {
    @apply rounded-2xl bg-background;
}

.fi-input-wrp-prefix {
    @apply rounded-l-2xl bg-card;
}

.fi-input-wrp-suffix {
    @apply rounded-r-2xl bg-card;
}

.fi-card {
    background-color: var(--color-card);
    color: var(--color-card-foreground);
    border-radius: var(--radius-lg);
}

.fi-topbar {
    background-color: var(--color-card);
    color: var(--color-card-foreground);
}

/* .fi-ta-table {
    background-color: var(--color-card);
} */

.fi-ta-header-cell {
    @apply bg-card;
}

.fi-ta-empty-state {
    @apply rounded-b-3xl bg-background;
}

.fi-ta-empty-header-cell {
    @apply bg-card;
}

.fi-ta-row {
    @apply !bg-background;
}

* {
    @apply border-border;
}

td {
    background: var(--color-background);
}

.fi-ta-table {
    @apply rounded-2xl;
}

th {
    @apply bg-card;
}

.fi-pagination {
    @apply rounded-b-[1.1rem] border border-border bg-card;
}

.fi-ta-header-adaptive-actions-position {
}

.fi-section {
    @apply bg-card;
}

.fi-modal-window {
    @apply border-sidebar-border bg-sidebar;
}

.fi-modal-header {
    @apply rounded-t-2xl border-sidebar-border bg-sidebar;
}

.fi-modal-footer {
    @apply rounded-b-2xl border-sidebar-border bg-sidebar;
}

.fi-tabs {
    @apply bg-card;
}

.fi-ta-header-toolbar {
    @apply rounded-t-[1.1rem] border border-border bg-card;
}

.fi-color-primary {
    @apply bg-primary text-primary-foreground;
}

.fi-link {
    @apply bg-primary/0 text-foreground;
}

.fi-sidebar-item-btn {
    @apply hover:bg-foreground/10;
}

.dark .fi-logo {
    filter: brightness(1.8);
}

.fi-sidebar-header {
    @apply mt-5;
}

.fi-sidebar-nav {
    @apply pt-2;
}
